
---

# **4️⃣ requirements.txt**

```txt
fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
langchain-groq
faiss-cpu
deep-translator
python-dotenv
pydantic
SpeechRecognition #For speech to text  
py